<div class="container"  style="text-align: center;">
    <div class="row" style="text-align: center;">
        <h4  style="margin: 0 auto;">You Must Be A Member</h4>
    </div>

    <div class="row" style="text-align: center;margin-top: 50px;">
        <div class="col-lg-6" style="text-align: center;">
            <button class="btn btn-success" mat-dialog-close (click)="onJoinUs()">
                Join Us Now!
            </button>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <button class="btn btn-primary" mat-dialog-close  (click)="onLogin()">
                Already A Member
            </button>
        </div>
    </div>
</div>