
      <div class="top-nav">

        <div class="align-beside">
            <img src="../../../../assets/images/a.png" class="logo">
            <span class="band">Workeum</span >
            </div>
   
            
        <div style="margin-top: 30px;">
          <a class="botn"  routerLink="" [routerLinkActiveOptions]="{exact:
            true}"  routerLinkActive="active-link">Home</a>
          <a class="botn"  routerLink="/products"  routerLinkActive="active-link">Our Services</a>
          <a class="botn"  routerLink="/events" routerLinkActive="active-link">Events</a>

          <a class="botn"  routerLink="/contact"routerLinkActive="active-link">Get In Touch</a>
        </div>

        <div style="margin-top: 30px;margin-right: 15px;">
          <a class="Login"  routerLink="/login-member"routerLinkActive="active-link">Login</a>
          </div>

        </div>