<app-main>
    <section style="padding-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="card-body" style="margin: 0 auto; position: relative;">
                    <!-- <label for="MemberImage">Upload Your Profile Picture</label> -->

                    <img *ngIf="Image"
                    [src]="Image"
                    style="border-radius: 100%;
                    background-color:white;
                    width:150px; height: 150px;
                    position:absolute;"
                    
                    >
                     <img
                     *ngIf="!Image"
                     src="../../../assets/images/upload.jpg"
                     style="border-radius: 100%;
                     background-color:white;
                     width:150px; height: 150px;
                     position:absolute;
                     
                     "
                     >
    
                     
              
                      <input type="file" 
                      (change)="onFileChanged($event)"
                      style="border:none;
                      cursor: pointer;
                      width:150px; height: 150px;
                      border:none;
                      z-index: 1;
                      border-radius: 100%;
                      opacity: 0.0001;
                      position:absolute;" >
                   
                    <!-- <img src="http://via.placeholder.com/150x150" style="border-radius: 100%;" alt=""/> -->
                  
                  </div>
            
            </div>
            <form [formGroup]="memberForm">
            <div class="row" style="padding-top: 170px;">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="FullName">Full Name </label>
                        <input type="text" class="form-control" formControlName="FullName" id="FullName" placeholder="Enter Your Full Name">

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="CompanyName">Company Name</label>
                        <input type="text" class="form-control" formControlName="CompanyName" id="CompanyName" placeholder="Enter Your Company Name">

                    </div>
                </div>

            </div>
            <div class="row">
          


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="DOB">Birth Date</label>
                        <input type="date" class="form-control" formControlName="DOB" id="DOB" placeholder="Enter Your Date of Birth">
                    </div>
                </div>



                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="PhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" formControlName="PhoneNumber"  id="PhoneNumber" placeholder="Enter Your Phone Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <input type="text" class="form-control" id="Email" formControlName="Email"
                            placeholder="Enter Your Email Address">

                    </div>
                </div>
         
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Position">Position</label>
                        <input type="text" class="form-control"  formControlName="Position" id="Position" placeholder="Enter Your Position">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="text" class="form-control" formControlName="Password" id="Password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="text" class="form-control" formControlName="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Your Password">
                    </div>
                </div>
            </div>

            <div class="row" style="text-align: right;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                    <button class="btn btn-primary" style="border-radius: 5px;" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </section>
</app-main>