<app-main>
    <section style="margin-top:120px;">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" id="FirstName" 
                                placeholder="Enter Your First Name">
                    
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName"
                                placeholder="Enter Your Last Name">
        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                placeholder="Enter Your Email">
                     
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="PhoneNumber"
                                placeholder="Enter Your Phone Number">
                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="margin:0 auto; width: 80%;">
                        <label for="contact">Tell Us Everything</label>
                        <textarea style=" width: 80%;resize: none;" id="contact" ></textarea>
            
                    </div>
       
       
                </div>
            </form>
        </div>
    </section>
</app-main>