<!-- Site footer -->
<footer class="site-footer" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Workeum.com is a website to help the compnaies and individuals find their perfect workplace.
                     Workeum focuses on providing the maximum flexibility in reservation process. We also provide many services for it's community members.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Services</h6>
                <ul class="footer-links">
                    <li><a style="cursor: pointer;">Hot Desks</a></li>
                    <li><a style="cursor: pointer;">Dedicated Desks</a></li>
                    <li><a style="cursor: pointer;">Small Offices</a></li>
                    <li><a style="cursor: pointer;">Medium Offices</a></li>
                    <li><a style="cursor: pointer;">Large Offices</a></li>
                </ul>
            </div>





            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="/products">Our Services</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/events">Events</a></li>
                    <li><a routerLink="/login-member">Login</a></li>

                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Workeum</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>