
    <section>
        <div class="container">
            <div class="row">
                <div class="card-body" style="margin: 0 auto; position: relative;">
                    <!-- <label for="MemberImage">Upload Your Profile Picture</label> -->

                    <img *ngIf="Image" [src]="Image" style="border-radius: 100%;
                    background-color:white;
                    width:150px; height: 150px;
                    position:absolute;">
                    <img *ngIf="!Image" src="../../../assets/images/upload.jpg" style="border-radius: 100%;
                     background-color:white;
                     width:150px; height: 150px;
                     position:absolute;">
                    <input type="file" (change)="onFileChanged($event)" style="border:none;
                      cursor: pointer;
                      width:150px; height: 150px;
                      border:none;
                      z-index: 1;
                      border-radius: 100%;
                      opacity: 0.0001;
                      position:absolute;">

                    <!-- <img src="http://via.placeholder.com/150x150" style="border-radius: 100%;" alt=""/> -->

                </div>

            </div>
            <form [formGroup]="memberEditForm" *ngIf="this.memberEditForm">
                <div class="row" style="padding-top: 170px;">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="MemberName">Full Name </label>
                            <input type="text" class="form-control" formControlName="MemberName" id="MemberName"
                                placeholder="Enter Your Full Name">
                            <span *ngIf="!memberEditForm.get('MemberName').valid && memberEditForm.get('MemberName').touched"
                                class="help-block">
                                Please Enter A Valid Name</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyName">Company Name</label>
                            <input type="text" class="form-control" formControlName="CompanyName" id="CompanyName"
                                placeholder="Enter Your Company Name">
                            <span *ngIf="!memberEditForm.get('CompanyName').valid && memberEditForm.get('CompanyName').touched"
                                class="help-block">
                                Please Enter A Valid Company Name</span>
                        </div>
                    </div>

                </div>
                <div class="row">



                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="BOD">Birth Date</label>
                            <input type="date" class="form-control" formControlName="BOD" id="BOD"
                                placeholder="Enter Your Date of Birth">
                            <span *ngIf="!memberEditForm.get('BOD').valid && memberEditForm.get('BOD').touched"
                                class="help-block">
                                Please Enter A Valid Birth Date</span>
                        </div>
                    </div>



                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="text" class="form-control" formControlName="PhoneNumber" id="PhoneNumber"
                                placeholder="Enter Your Phone Number">
                            <span *ngIf="!memberEditForm.get('PhoneNumber').valid && memberEditForm.get('PhoneNumber').touched"
                                class="help-block">
                                Please Enter A Valid Phone Number</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="Email">Email Address</label>
                            <input type="text" class="form-control" id="Email" formControlName="Email"
                                placeholder="Enter Your Email Address">
                            <span *ngIf="!memberEditForm.get('Email').valid && memberEditForm.get('Email').touched"
                                class="help-block">
                                Please Enter A Valid Email</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="Position">Position</label>
                            <input type="text" class="form-control" formControlName="Position" id="Position"
                                placeholder="Enter Your Position">
                            <span *ngIf="!memberEditForm.get('Position').valid && memberEditForm.get('Position').touched"
                                class="help-block">
                                Please Enter A Valid Position</span>
                        </div>
                    </div>
                </div>


                <div class="row" style="text-align: right;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                        <button class="btn btn-primary" style="border-radius: 5px;" (click)="onSubmit()"
                            [disabled]="!memberEditForm.valid || !Image">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
