<section *ngIf="member">
<div class="row">
    <div class="col-lg-6 col-md-6">
        Member Id:
    </div>
    <div class="col-lg-6 col-md-6">
        {{member.MemberId}}
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        Member Name:
    </div>
    <div class="col-lg-6 col-md-6">
        {{member.MemberName}}
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        Member Email:
    </div>
    <div class="col-lg-6 col-md-6">
        {{member.Email}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        Member Phone Number:
    </div>
    <div class="col-lg-6 col-md-6">
        {{member.PhoneNumber}}
    </div>
</div>
</section>

