<app-main>
    <section style="margin-top:120px;">
        <div class="container">

            <div class="row">
                <h3 style="margin:0 auto;font-weight: bold;">PRIVATE OFFICES</h3>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-card style="background-color: #f5f5f5;">
                        <h6>OFFICE FOR STARTUPS</h6>
                        <div style="font-family:Verdana, Geneva, Tahoma, sans-serif;color:#B1B1B7;">Starting at</div>
                        <div style="color: #0078BE;font-family:Verdana, Geneva, Tahoma, sans-serif;">1000$ / month</div>

                        <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <li>
                                - Suitable for teams of 5 to 10 people.
                            </li>
                            <li>
                                - Ready to move in furnished and managed spaces allowing for time and cost efficiencies.
                            </li>
                            <li>
                                - Flexible agreements allowing smooth upsizing within the community.
                            </li>
                            <li>
                                - Single all-inclusive payments per month.
                            </li>
                            <li>
                                - Shared kitchen and utilities including automatic refill of consumables.
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Reserve </button>
                        </div>
                    </mat-card>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-card style="background-color: #f5f5f5;">
                        <h6>OFFICE FOR MEDIUM COMPANIES</h6>
                        <div style="font-family:Verdana, Geneva, Tahoma, sans-serif;color:#B1B1B7;">Starting at</div>
                        <div style="color: #0078BE;font-family:Verdana, Geneva, Tahoma, sans-serif;">1500$ / month</div>
                        <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <li>
                                - Suitable for teams of 10 to 20 people.
                            </li>
                            <li>
                                - Ability to customize the interior design of the space.
                            </li>
                            <li>
                                - Long-term agreements, eliminating the hassle of frequent offices changes.
                            </li>
                            <li>
                                - Access to subsized packages that simplify companies' operations such as internal
                                cleaning packages.
                            </li>
                            <li>
                                - Shared kitchen and utilities including automatic refill of consumables.
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Reserve </button>
                        </div>
                    </mat-card>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-card style="background-color: #f5f5f5;">
                        <h6>OFFICE FOR LARGE COMPANIES</h6>
                        <div style="font-family:Verdana, Geneva, Tahoma, sans-serif;color:#B1B1B7;">Starting at</div>
                        <div style="color: #0078BE;font-family:Verdana, Geneva, Tahoma, sans-serif;">2000$ / month</div>
                        <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <li>
                                - Fits teams of 20+ people.
                            </li>
                            <li>
                                - Ability to customize the interior design of the space.
                            </li>
                            <li>
                                - Long-term agreements, eliminating the hassle of frequent offices changes.
                            </li>
                            <li>
                                - Access to subsized packages that simplify companies' operations such as internal
                                cleaning packages.
                            </li>
                            <li>
                                - Shared kitchen and utilities including automatic refill of consumables.
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Reserve </button>
                        </div>
                    </mat-card>
                </div>
            </div>

        </div>
    </section>
    <section style="margin-top:120px;">
        <div class="container">
            <div class="row">
                <h3 style="margin:0 auto;font-weight: bold;">DESKS</h3>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-card style="background-color: #f5f5f5;">
                        <h6>HOT DESK</h6>

                        <div style="color: #0078BE;font-family:Verdana, Geneva, Tahoma, sans-serif;">20$ / day</div>

                        <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <li>
                                - Access to a Hot Desk
                            </li>
                            <li>
                                - Unlimited Coffee
                            </li>
                            <li>
                                - Printing: 50 B&W, 25 Colored
                            </li>
                            <li>
                                - Internet Access
                            </li>
                            <li>
                                - Locker
                            </li>
                   
                            <li>
                                - Access during reception hours
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Reserve </button>
                        </div>
                    </mat-card>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-card style="background-color: #f5f5f5;">
                        <h6>DEDICATED DESK</h6>
                        <div style="color: #0078BE;font-family:Verdana, Geneva, Tahoma, sans-serif;">500$ / month</div>
                        <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <li>
                                - Access to a Dedicated Desk
                            </li>
                            <li>
                                - Unlimited Coffee
                            </li>
                            <li>
                                - Printing: 100 B&W, 50 Colored
                            </li>
                            <li>
                                - Internet Access
                            </li>
                            <li>
                                - Locker
                            </li>
                   
                            <li>
                                - 24/7 Access
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="border-radius: 15px;">Reserve </button>
                        </div>
                    </mat-card>
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>

        </div>
    </section>
</app-main>